.Filter_container {
    background-color: #fff;
    margin-top: 16px;
    padding: 0 24px 24px;
    width: 100%;
    letter-spacing: 1px;

    .Filter_section {
        width: 100%;

        .Filter_colors {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 12px;

            .Filter_dots {
                width: 23px;
                height: 23px;
                border-radius: 50%;
                position: relative;
                cursor: pointer;

                .Filter_check {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                }

                .Filter_tooltip {
                    visibility: hidden;
                    background-color: #333333;
                    color: #fff;
                    text-align: center;
                    padding: 2px 10px;
                    font-size: 13px;
                    width: fit-content;
                    white-space: nowrap;
                    position: absolute;
                    bottom: -25px;
                    left: 100%;
                }
            }

            .Filter_dots:hover .Filter_tooltip {
                visibility: visible;
            }
        }

        .Filter_selectedColors {
            color: #333333;
            font-size: 13px;
            margin-top: 14px;
            padding-bottom: 14px;
            user-select: none;
        }

        .Filter_items_container {
            display: grid;
            grid-template-columns: 18px auto;
            align-items: center;
            gap: 16px;
            padding: 8px 0;
            cursor: pointer;
            user-select: none;

            .Filter_checkbox_container {
                margin-right: 1px;
                display: block;
                position: relative;
                border: 1px solid #4a4a4a;
                border-radius: 3px;
                width: 18px;
                height: 18px;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                //remove default input style
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                .Filter_checkbox {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 18px;
                    height: 18px;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                input:checked ~ .Filter_checkbox {
                    background-color: #e15a1d;
                }
            }
        }
    }

    .Filter_buttonContainer {
        padding-top: 32px;
    }
}

@media only screen and (max-width: 768px) {
    .Filter_container {
        .Filter_section {
            font-size: 13px;

            .Filter_colors {
                display: grid;
                grid-template-columns: 23px auto;
                grid-gap: 16px;
                align-items: center;
                padding-bottom: 16px;
                cursor: pointer;

                .Filter_color_name {
                    color: #333333;
                }
            }
        }
    }
}
