.ProductCard_container {
    display: flex;
    padding: 10px 10px 10px 0;
    background-color: #f8f8f8;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 480px;

    .ProductCard_button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #dbdbdb;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 3px 10px;
        opacity: 0;
        cursor: pointer;

        .ProductCard_close_btn {
            display: flex;
            align-items: center;
        }
    }

    .show {
        opacity: 1;
        transition: opacity 1s ease;
    }

    .ProductCard_image {
        width: 100%;
        cursor: pointer;
    }

    .ProductCard_content {
        padding-left: 16px;
        padding-right: 16px;

        .ProductCard_selectable {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 60px;
        }

        .ProductCard_title {
            font-size: 14px;
            font-weight: bold;
            color: #333333;
            cursor: pointer;
        }

        .ProductCard_price {
            font-size: 13px;
            color: #333333;
        }

        .ProductCard_desc {
            font-size: 13px;
            color: #333333;
        }

        .ProductCard_specialTag {
            background-color: #dbdbdb;
            color: #333333;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            font-size: 11px;
            font-weight: bold;

            position: absolute;
            top: 40px;
            right: 20px;
        }
    }
}

.show-inside {
    justify-content: center;
    background-color: #efefef;
}

@media only screen and (max-width: 768px) {
    .ProductCard_container {
        flex-direction: row;

        .ProductCard_image {
            width: 150px;
            height: 125px;
        }

        .ProductCard_content {
            .ProductCard_title {
                font-size: 13px;
                font-weight: bold;
                color: #333333;
            }

            .ProductCard_price {
                font-size: 13px;
                color: #333333;
            }

            .ProductCard_desc {
                font-size: 12px;
                color: #828282;
            }

            .ProductCard_selectable {
                margin-top: 5px;
                margin-bottom: 8px;
                justify-content: flex-start;
            }

            .ProductCard_specialTag-mobile {
                font-size: 11px;
                font-weight: bold;
                color: #e15a1d;
            }
        }
    }
}
