.Navbar_container_mobile {
    position: relative;
    background-color: #000;
    width: 100%;
    padding: 8px;

    .Navbar_backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: 0.7;
        z-index: 1;
    }

    .Navbar_side-drawer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 2;

        .Navbar_container {
            width: 100%;
            height: 100%;
            background-color: #fff;
            padding: 10px 20px;

            .Navbar_button {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }

            .Navbar_links {
                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: #000;
                }

                .Navbar_link {
                    border: 2px solid #e15a1d;
                    padding: 8px;
                    margin: 8px 0;

                    &:hover {
                        background-color: #e15a1d;
                    }

                    &--current {
                        background-color: #e15a1d;
                    }
                }
            }
        }
    }
}
