.InfoCard_container {
    position: relative;
    width: 100%;

    a {
        text-decoration: none;
    }

    .InfoCard_image {
        width: 100%;
        height: 399px;
    }

    .InfoCard_text {
        position: absolute;
        top: 0;
        left: 0;
        padding: 16px;

        .InfoCard_title {
            color: #fff;
            font-size: 31px;
        }

        .InfoCard_cta {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
        }
    }

    .InfoCard_overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.2s ease;
        background-color: transparent;
        z-index: 1;
    }

    .InfoCard_overlay:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (max-width: 768px) {
    .InfoCard_container {
        width: 100%;

        .InfoCard_image {
            width: 100%;
            height: 238px;
        }

        .InfoCard_text {
            position: relative;
            padding: 16px;

            .InfoCard_title {
                color: #333333;
                font-size: 21px;
            }

            .InfoCard_cta {
                text-decoration: none;
                color: #333333;
                font-size: 13px;
            }
        }
    }

    a {
        text-decoration: none;
    }
}
