.Modal_modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 999;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    translate: var(--translate);
    transition: all 0.5s ease-in-out;
    width: var(--width);
    background-color: var(--bgColor);

    .Modal_header {
        width: 100%;
    }

    .Modal_content {
        overflow-y: auto;
        flex-grow: 1;
    }

    .Modal_footer {
        width: 100%;
    }
}

.Modal_backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 888;
    opacity: 0.25;
}

.Modal_open {
    translate: 0 0;
    visibility: visible;
    opacity: 1;
}
