.Button_container {
    width: 100%;
    padding: 0;

    .Button_overlay {
        display: block;
        width: 100%;
        height: 100%;
        padding: 7px 14px;
        transition: all 0.2s ease;
        background: transparent;
        box-shadow: none;
    }

    .Button_overlay:hover {
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0 17px 9px -15px rgb(0 0 0 / 50%);
    }
}

.Button_container-outlined {
    width: 100%;
    padding: 0;

    user-select: none;
    letter-spacing: 1px;
    font-size: 13px;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
}

.Button_container-outlined:hover {
    color: #e15a1d;
    border: 1px solid #e15a1d;
}
