.App_container {
    display: grid;
    grid-template-columns: 250px auto;
    // background-color: #000;
    height: 100vh;

    .App_views {
        align-self: center;
        justify-self: center;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .App_container {
        display: flex;
        flex-direction: column;

        .App_views {
            height: 100%;
        }
    }
}
