.CartPage_container {
    background-color: cadetblue;
    width: 100%;
    height: 100vh;

    .CartPage_header {
        background-color: #fff;
        padding: 32px;
        height: 105px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .CartPage_cart_button {
        position: relative;
        cursor: pointer;
    }

    .CartPage_cart {
        height: 100vh;
    }
}
