.Accordion_container {
    width: 100%;

    .Accordion_headingContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dbdbdb;
        padding: 15px 0 7px;
        cursor: pointer;

        .Accordion_headingText {
            font-size: 13px;
            letter-spacing: 1px;
            color: #333333;
            user-select: none;
            font-weight: bold;
        }

        .Accordion_icon {
            transition: transform 0.5s linear;
        }

        .collapsed_rotate {
            transform: rotate(-180deg);
        }
    }

    .Accordion_content {
        margin: 14px 0;

        overflow: hidden;
        max-height: var(--maxHeight);
        transition: max-height 0.5s ease-in-out;
    }
}
